<app-breadcrumb [title]="'dashboard'" [items]="[]" [active_item]="'dashboard'"></app-breadcrumb>
<div class="container-fluid">
 
    <!-- <div class="card-header">
      <h5>Dashboard</h5>
    </div> -->

      <div class="row">
        <div class="col-sm-6 col-xl-3 col-lg-6">
          <div class="card o-hidden">
            <div class="bg-primary b-r-4 card-body">
              <div class="media static-top-widget">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="'database'"></app-feather-icons>
                </div>
                <div class="media-body"><span class="m-0">Stat 1</span>
                  <h4 class="mb-0 counter">5000</h4><i class="icon-bg" data-feather="database"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
          <div class="card o-hidden">
            <div class="bg-secondary b-r-4 card-body">
              <div class="media static-top-widget">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
                </div>
                <div class="media-body"><span class="m-0">Stat 2</span>
                  <h4 class="mb-0 counter">9856</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Table</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Country</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Alexander</td>
                    <td>Orton</td>
                    <td>@mdorton</td>
                    <td>Admin</td>
                    <td>USA</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>John Deo</td>
                    <td>Deo</td>
                    <td>@johndeo</td>
                    <td>User</td>
                    <td>USA</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Randy Orton</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>admin</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Randy Mark</td>
                    <td>Ottandy</td>
                    <td>@mdothe</td>
                    <td>user</td>
                    <td>AUS</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Ram Jacob</td>
                    <td>Thornton</td>
                    <td>@twitter</td>
                    <td>admin</td>
                    <td>IND</td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
